body {
width: 100%;
  background: #ffeaad
}

p {
font-size: 90px;
text-align: center;
}
.onepiece{
  margin-left: 10%;

}

nav{
position: relative;
top: 50px;
left: 60px;
font-size: 50px;
}

li{
  display: inline;
  padding: 2%

}
